/* .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
   */
#mainUsAd {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}#mainUsAd > *  {
    padding: 0% 5%;
    width: 50% !important;
}
#userTable{
    width: 100% !important;
}

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 5px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  .userAvatarTable{
    width: 30px;
    padding: 30px;
  }

  .edit-button,
  .delete-button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .delete-button {
    background-color: #f44336;
  }
  
  .usersModalEdit{
    
  }